.form-group1 {
  margin: -1px;
}

.radio-container {
  display: flex;
  gap: 20px; /* Space between radio buttons */
  align-items: center; /* Aligns radio buttons vertically */
}

.radio-item {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.radio-item input[type="radio"] {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}

.radio-item label {
  font-size: 16px;
  color: #333;
}

fieldset {
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 8px;
}

legend {
  font-weight: bold;
  font-size: 18px;
  color: #555;
}
