<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row">
      <div class="mouse">
        <a href="#" class="mouse-icon">
          <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
        </a>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Share Savor</h2>
          <p>The best way to find yourself is to lose yourself in the service of others</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
            <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.facebook.com/wiem.khedri.1"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.facebook.com/wiem.khedri.1"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate fadeInUp ftco-animated"><a href="https://www.instagram.com/khedriwiem/"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md" style="    margin-left: 201px;">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Menu</h2>
          <ul class="list-unstyled">
            <li><a href="/shopByBuisiness" class="py-2 d-block">Shop By Buisiness</a></li>
            <li><a href="/allitems" class="py-2 d-block">Shop</a></li>
            <!-- <li><a href="#" class="py-2 d-block">Journal</a></li> -->
            <li><a href="#" class="py-2 d-block">Contact Us</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md">
        <div class="ftco-footer-widget mb-4" style="    margin-left: 158px;">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Bardo , Tunise</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+216 23857642</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">sharesavor@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
