<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light scrolled awake" id="ftco-navbar">
  <div class="container">
    <img src="/assets/logosans.png" style=" width: 69px">
    <a class="navbar-brand" href="/">ShareSavor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" href="/shopByBuisiness">Shop By Business</a>
            <a class="dropdown-item" href="/allitems">Shop</a>
            <!-- <a class="dropdown-item" href="product-single.html">Single Product</a>
            <a class="dropdown-item" href="cart.html">Cart</a>
            <a class="dropdown-item" href="checkout.html">Checkout</a> -->
          </div>
        </li>


        <li class="nav-item dropdown"  *ngIf="CurrentUserState==='1'">
          <a class="nav-link dropdown-toggle"  id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organisation</a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" *ngIf="IsChecked" href="/addOrganisation">Add Organisation</a>
            <a class="dropdown-item" *ngIf="checkexists" href="/currentOrganisation">Current Organisation</a>
          </div>
        </li>

        <li class="nav-item" *ngIf="CurrentUserState==='1'"><a href="/updateorganisationrepresantative" class="nav-link">Profile</a></li>
        <li class="nav-item" *ngIf="CurrentUserState==='1'"><a href="/listCommandeOrganisation" class="nav-link"> Orders</a></li>

        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>

        <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"  style="    font-size: 21px; "></span></a></li>

        <li class="nav-item cta cta-colored"><button (click)="signout()" style="width: 161px;  height: 51px;   margin-top: 10px;" type="submit"  class="btn btn-primary py-3 px-5" >Sign Out</button>

      </ul>
    </div>
  </div>
</nav>
