<div >
  <!-- Account page navigation-->

  <hr class="mt-0 mb-4">
  <div class="row" style="margin-left: 103px;">

      <div class="col-xl-4">
        <br>
        <br><br>



          <!-- Profile picture card-->
          <div class="card mb-4 mb-xl-0">
              <div class="card-header">Profile Picture</div>
              <div class="card-body text-center">
                  <!-- Profile picture image-->
                  <img class="img-account-profile rounded-circle mb-2" src="http://localhost:8081/fileController/files/{{user?.image}}" alt="">
                  <!-- Profile picture help block-->
                  <!-- <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div> -->
                  <!-- Profile picture upload button-->
                  <form [formGroup]="UpdateImage">
                  <input
                  formControlName="file"
                  type="file"
                  (change)="handleFileInput($event)"
                  class="form-control"
                />
                  <button class="btn btn-primary" (click)="updateimages()" type="button">Upload new image</button>
                </form>
              </div>
          </div>
      </div>
      <div class="col-xl-8">
        <br>
        <br><br>



          <!-- Account details card-->
          <div class="card mb-4" style="    margin-left: -15px;width: 1000px;">
              <div class="card-header">Account Details</div>
              <div class="card-body" style="height: 313px;">
                  <form [formGroup]="UpdateForm">

                      <div class="mb-3">
                          <label class="small mb-1" for="inputUsername">FullName</label>
                          <input class="form-control" id="inputUsername" formControlName="fullName" type="text" placeholder="Enter your username" >
                      </div>

                      <div class="row gx-3 mb-3">

                          <div class="col-md-6">
                              <label class="small mb-1"  for="inputOrgName">Email</label>
                              <input class="form-control" id="inputOrgName" formControlName="email" type="text" placeholder="Enter your Email" >
                          </div>
                          <div class="col-md-6">
                              <label class="small mb-1" for="inputLocation">Phone Number</label>
                              <input class="form-control" formControlName="numerotelephone" id="inputLocation" type="number" placeholder="Enter your Phone Number" >
                          </div>
                      </div>
                      <button class="btn btn-primary" (click)="updateprofile()" type="button">Save changes</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
